root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.sh]
indent_style = space
indent_size = 2
switch_case_indent = true

[*.bats]
indent_style = space
indent_size = 4

[*.nix]
indent_style = space
indent_size = 2

[*.{md,yml,yaml,json,jsonc,toml}]
indent_style = space
indent_size = 2

[*.{exp,tcl}]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[justfile]
indent_style = space
indent_size = 4

[*.just]
indent_style = space
indent_size = 4
