use flake

watch_file flake.lock
watch_file set/lib/mk-set.nix
watch_file setting/lib/mk-setting.nix
watch_file lib/mk-drift-check.nix
watch_file lib/mk-setting-drift-check.nix
watch_file lib/drift-check.sh
